[submodule "extern/SDL2"]
	path = extern/SDL2
	url = https://github.com/libsdl-org/SDL
[submodule "extern/volk"]
	path = extern/volk
	url = https://github.com/zeux/volk
[submodule "extern/cglm"]
	path = extern/cglm
	url = https://github.com/recp/cglm
[submodule "extern/SDL_mixer"]
	path = extern/SDL_mixer
	url = https://github.com/libsdl-org/SDL_mixer.git
